body,html{
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    color:black;
    margin:0;
    padding:0;
}
body{
    background:#eee;
}
.touch-sensitive{
    width:100%;
    height:100%;
    background:transparent;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
.content{
    width:100%;
    height:100%;
    .state-1{
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:2em;
    }
    .state-2{
        display:none;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:2em;
        .measurement{
            .x,.y,.z{
                display:inline-block;
            }
        }
    }
    .state-3{
        display:none;
        .log{
            table{
                #table-header{
                    font-weight:800;
                }
                tr{
                    font-weight:300;
                }
                td{
                    min-width:100px;
                    text-align:center;
                }
            }
        }
    }
}